body {  
    color: #e6cc81;
    /*color: #bab4c7;*/
    background-image: url(img/reverse-side-of-a-tarot-cards-batch-magic-frame-vector-49111500.jpg);
    background-color: rgba(0, 0, 0, 0.897);
    background-position: 50%;
    background-size: 1225px 630px;
    /*background-size: 1180px 620px;*/
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 10%;
    
}


#contenedorPr{
   
    width: 200px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 38%;
    
}

.cuadro {
    width: 90px;
    height: 90px;
    border: 1.5px solid #e6cc81;
    border-radius: 10px;
    font-size: 70px;
    
}

.cuadro:hover{
    background-color: #e6cd8126;
}

#mensajeGanador{
    margin-bottom: 30px;
    text-align: center;
    margin-top: 7%;
    font-size: large;
}

#volverJuego {
    font-style: italic;
    height: 25px;
    width: 90px;
    /*background-color: #bab4c7;*/
    background-color: #e6cc81;
    border: none;
    border-radius: 15px;
    font-size: 8px;
    margin-top: -8%;
}






